* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-sans', sans-serif;
}

.menu-overlay{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #eee;
    z-index: 5;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.nav {
    position: relative;
}

/*menu-btn*/
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 30;
}

.menu-btn__burger{
    width: 50px;
    height: 6px;
    background: #edb814;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #edb814;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before{
    transform: translateY(-16px);
}

.menu-btn__burger::after{
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/*menu-list*/

.menu-list{
    width: 480px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    flex-flow: column;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(241,219,44,1) 100%);
    box-shadow: 20px 0px 30px rgba(0, 0, 0, .3);
    padding: 150px 50px;
    height: 100vh;
    margin-top: -100px;
    position: absolute;
    left: -135px;
    transition: all .5s ease-in-out;
    z-index: 20;
}

.menu-list__hidden{
    transform: translate(-125%);
}

.menu-list li {
    list-style-type: none;
    font-size: 30px;
    margin-top: 30px;
}

.menu-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/*Toggle button*/
.knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    width: 128px;
    height: 36px;
    overflow: hidden;
    z-index: 10;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}

.button {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#toggle-button {
    overflow: visible;
}

#toggle-button .knobs {
    perspective: 70px;
}

#toggle-button .knobs:before, #toggle-button .knobs:after, #toggle-button .knobs span {
    position: absolute;
    top: 4px;
    border-radius: 2px;
}

#toggle-button .knobs:before, #toggle-button .knobs:after {
    width: 52px;
    height: 10px;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    padding: 9px 4px;
}

#toggle-button .knobs:before {
    content: 'TRAIN';
    /* left: 4px; */
}

#toggle-button .knobs:after {
    content: 'PLAY';
    right: 0px;
}

#toggle-button .knobs span {
    right: 4px;
    width: 60px;
    height: 28px;
    background-color: #03a9f4;
    transform: rotateY(0);
    transform-origin: 0% 50%;
    transition: 0.4s ease all;
    z-index: 1;
}

#toggle-button .checkbox:checked + .knobs span {
    transform: rotateY(-180deg);
    background-color: #1ef551;
}

#toggle-button .checkbox:checked ~ .layer {
    background-color: #e1fce7;
}
